@font-face {
    font-family: 'RoughTypewriter';
    src: url('RoughTypewriter.woff2') format('woff2'),
        url('RoughTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

